body {
    height: 100vh;
    /* background: url("./image/back.jpeg"); */
    background: url(https://static.vecteezy.com/system/resources/previews/000/096/991/original/free-panda-with-bamboo-vector-background.jpg);
    background-size: cover;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Dancing Script", cursive;
}

button {
    width: 200px;
    height: 35px;
    background-color: hotpink;
    border-radius: 5px;
}

#game {
    color: white;
    background: honeydew;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    padding: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    display: none;
    /* background: url("./image/back.jpeg"); */
    /* background: url(https://www.clipartmax.com/png/middle/189-1890626_giant-panda-cuteness-cartoon-cute-panda-png.png) no-repeat; */
    /* background: url(https://i.pinimg.com/736x/0b/b5/0f/0bb50f78ac4231f95c648a8b74d3cce4.jpg) */
    /* background: url('./image/back.jpeg'); */

    align-content: space-around;
    justify-content: space-around;
}

#game div {
    border: 5px solid black;
    border-radius: 8px;
    /* width: 100px;
    height: 200px; */
    margin: 10px;
    display: flex;
    background: url(https://img.freepik.com/free-vector/abstract-organic-lines-background_1017-26669.jpg?size=626&ext=jpg);
    /* background-size: cover; */
    /* justify-content: space-evenly; */
}

.score-manage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#start-box {
    display: flex;
    justify-content: space-between;
}

#reset {
    display: none;
    margin-bottom: 5px;
}

#score {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

#guess {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

#input {
  width: 200px;
  height: 25px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: rgb(112, 253, 253);
    border-radius: 10px;
    border: 3px solid black;
}

/* #result {
    /* color: white; 
} */

@media (max-width: 800px) {
    #game {
        width: 80%;
    }
    #game div {
        border: 3px solid black;
        border-radius: 8px;
        width: 10%;
        height: 10%;
        margin: 10px;
        display: inline-block;
    }

    /* body {
    height: 100%;
  } */
}
